body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #0f0;
    text-shadow: 0 0 5px #0f0;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    animation: flicker 1s infinite;
}

header {
    padding: 20px;
    border-bottom: 2px solid #0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 20px 0px;
    z-index: 2;
}

.header-content {
    display: flex;
    align-items: center;
}

#logo {
    width: 80px;
    height: auto;
    margin-right: 20px; /* Space between the image and text */
}

.text-content h1, .text-content h3 {
    margin: 0;
    color: #0f0;
}

#nav-bar {
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav-bar a {
    color: #0f0;
    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
}

#nav-bar a:hover {
    text-decoration: underline;
}

.container2 {
    flex: 1;
    padding: 20px;
    z-index: 2;
}

h1 {
    text-align: center;
    font-size: 36px;
    text-shadow: 0 0 10px #0f0;
}

.playlist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.playlist-item {
    width: calc(45% - 20px);
    padding: 20px;
    margin: 10px 0;
    border: 2px solid #0f0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.playlist-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
}

.tv-screen-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.playlist-item:hover .tv-screen-container {
    opacity: 1;
}

.playlist-content {
    position: relative;
    z-index: 2;
}

.playlist-item h2,
.playlist-item p {
    color: #0f0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0 0 10px #0f0;
}

footer {
    padding: 10px;
    text-align: center;
    border-top: 2px solid #0f0;
    z-index: 2;
}

footer p {
    color: #0f0;
    margin: 0;
}

footer a {
    color: #0f0;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.inspiration {
    text-align: center;
    font-size: 18px;
    padding: 10px 20px;
    color: #0f0;
    text-shadow: 0 0 5px #0f0;
    z-index: 2;
}

header, .container2, .inspiration, footer {
    background: rgba(0, 0, 0, 0.2);
    margin: 10px;
    border-radius: 5px;
}
